@model IEnumerable<Items>

@{
    ViewData["Title"] = "Home Page";
}

@{
    var itemcount = 0;
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
    @foreach (var item in Model)
        {
            if(itemcount < 3)
            {

            @*if(itemcount == 0)
                {
                    <div class="row">
                }*@

                var no_of_items = @item.Name + "_value";

                <div class="col-xl-3">@item.Name &nbsp;&nbsp;&nbsp;&nbsp; @item.Price aed<br /><br />
                    <input type="number" id=@no_of_items value="1" style="width:40px;height:40px;" /> 
                    <a class="btn btn-lg btn-primary" onclick="addToBill('@item.Name',@item.Price)">
                        <i class="bi bi-file-plus-fill"></i>Add</a>
                    <br />
                    <br />
                </div>

                

                itemcount++;
            }
            if(itemcount == 2)
            {
                itemcount = 0;
            }
        }
        </div>
    </div>
    <div class="col-md-4" id="billsection"></div>
</div>

<script>
var itemsinbill = [];
var iteminbillid = 0;

    function addToBill(name, price) {
        var itemadded = { "id": 0, "name": "", "price": 0, "quantity": 0, "total": 0 };

        itemadded.id = iteminbillid + 1;
        itemadded.name = name;
        itemadded.price = price;
        itemadded.quantity = document.getElementById(name + "_value").value;
        itemadded.total = price * document.getElementById(name + "_value").value;

        itemsinbill.push(itemadded);

        createtable();

    }

function createtable() {

    var tablehtml = "<table class='table-condensed' width='100%'><tr><th colspan=5 align='center'>BILL</th></tr>";
    tablehtml += "<tr><th>Item</th><th>Price</th><th>Quantity</th><th>Total</th><th></th></tr>"

    itemsinbill.forEach(function(item) {
        tablehtml += "<tr><td>" + item.name + 
        "</td>" + "<td>" + item.price + "</td>" + 
        "<td>" + item.quantity + "</td>" +"<td>" + item.total + 
        "</td><td><a class='btn btn-sm btn-outline-danger' style='height:20px' onclick='deletefrombill("+item.id+")'><i class='bi bi-trash' ></i></a></td></tr>";
});
    tablehtml += "</table>";

    document.getElementById("billsection").innerHTML = tablehtml;
}
</script>